* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

canvas {
	display: block;
}

#particles-js {
	position: absolute;
	opacity: 100%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

header {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 10vh;
	justify-content: center;
	align-items: center;
	animation: drop 1.5s ease;
}

h1 {
	font-size: 44px;
	color: #626180;
	font-weight: 500;
	text-align: center;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #12151f;
	overflow: hidden;
}

button {
	font-family: 'Poppins', sans-serif;
}

.презентация {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 90vh;
	align-items: center;
	justify-content: center;
}

.введение {
	padding: 0px 30px;
	flex: 1;
	animation: fromLeft 1.5s ease;
	margin-bottom: 25px;
}

.вступление-текст {
	display: flex;
	min-height: 45vh;
	margin-top: 5px;
	font-size: 22px;
	color: #626180;
	align-items: center;
	justify-content: center;
}

.cta  {
	padding: 50px 0px 0px 0px;
	display: flex;
	justify-content: center;

}

.cta-generate {
	border: none;
	background-color: #0a0d14;
	width: 180px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	color: #626180;
}

.cta-generate:hover{
	background-color: #626180;
	color: #0a0d14;
}

.обложка {
	flex: 1;
	height: 60vh;
}

.barz {
	position: absolute;
	bottom: 0;
	right: 0;
	max-height: 95%;
	max-width: 100%;
	opacity: 1;
	z-index: -2;
	animation: fromRight 1.5s ease;
}

@keyframes fromLeft {
	0%{
		opacity: 0;
		transform: translateX(-80px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fromRight {
	0%{
		opacity: 0;
		transform: translateX(80px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes drop {
	0%{
		opacity: 0;
		transform: translateY(-80px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1225px) {
	h1 {
		font-size: 38px;
	}

	.introduction {
		flex: 2;
	}

	.cernea {
		height: 70%;;
	}

	.intro-text p {
		font-size: 20px;
	}
}

@media screen and (max-width: 1000px) {
	.introduction {
		flex: 1;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	.cernea {
		height: 50%;
	}

}

@media screen and (max-width: 750px) {
	h1 {
		font-size: 32px;
	}


	.presentation {
		flex-direction: column;
	}

	.introduction {
		margin-top: 5vh;
		text-align: center;
	}

	.intro-text h1 {
		font-size: 30px;
	}

	.intro-text p {
		font-size: 18px;
	}

	.cta {
		padding: 10px 0px 0px;
	}

	.big-circle,
	.medium-circle,
	.small-circle {
		display: none;
	}

	.cernea {
		position: static;
		width: 100%;
	}

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
	.cernea {
		position: static;
		width: 100%;
	}

}
